.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Common class*/
body {
  margin: 0;
  font-family: "Noto Sans", "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.45;
  color: inherit;
}

h1, .h1 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

h2, .h2 {
  margin-bottom: 1rem;
  font-size: 1rem;
}

h3, .h3 {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

h4, .h4 {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

h5, .h5 {
  margin-bottom: 0;
  font-size: 0.875rem;
}

h6, .h6 {
  margin-bottom: 0;
  font-size: 0.875rem;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.mt-1 {
  margin-top: .25rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.ml-1 {
  margin-left: .25rem !important;
}

.ml-2 {
  margin-left: .5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 2rem !important;
}

.mr-1 {
  margin-right: .25rem !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 2rem !important;
}

.m-0 {
  margin: 0 !important;
}

.pb-1 {
  padding-bottom: .25rem !important;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 2rem !important;
}

.pt-1 {
  padding-top: .25rem !important;
}

.pt-2 {
  padding-top: .5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.pl-1 {
  padding-left: .25rem !important;
}

.pl-2 {
  padding-left: .5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 2rem !important;
}

.pr-1 {
  padding-right: .25rem !important;
}

.pr-2 {
  padding-right: .5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 2rem !important;
}

.p-0 {
  padding: 0 !important;
}

/*Navigation bar*/
.nav-link.is-active {
  font-weight: bold;
}

.navbar {
  border: 1px solid #e5e5e5;
  border-width: 1px 0 1px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,1);
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

/*Home Page */
.latest-news {
  border-bottom: 1px solid #e5e5e5;
}

.latest-news-left {
  float: left;
  width: 60%;
  border-right: 1px solid #e5e5e5;
}

.latest-news-right {
  float: left;
  width: 39%;
}

.latest-news-left img {
  max-width: 404px;
  max-height: 260px;
}

.latest-news-right-element {
  width: 100%;
  overflow: hidden;
}

.latest-news-right-element .wp-image {
  display: block;
  float: left;
}

.latest-news-right-element p {
  text-align: justify;
}

.latest-news-right img {
  width: 150px;
  height: 100px;
}

.categories-home-section .category-item-content {
  border-bottom: 1px solid #e5e5e5;
  height: 100%;
}

.categories-home-section .category-item:nth-last-of-type(-n+2) .category-item-content {
  border-bottom: none;
}

.category-item .category-item-wp-image {
  display: block;
  float: left;
}

.category-item .category-item-wp-image img {
  width: 150px;
  height: 100px;
}

.category-item .first-news-item {
  width: 100%;
  overflow: hidden;
}

.footer-info p {
  margin-bottom: 0;
}

.comment-modal {
  width: 300px;
  height: 130px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px solid #e5e5e5;
  background: white;
  margin: auto;
  text-align: center;
  padding: 1rem;
  border-radius: .5rem;
}

.comment-list .comment-item {
  border: 1px solid #e5e5e5;
  border-width: 0 0 1px 0;
}

.comment-item .user-image {
  max-width: 100px;
}

.comment-item .user-image img {
  border-radius: 50%;
  max-width: 100%;
}

.comment-form {
  border-bottom: 1px solid #e5e5e5;
}

.main-container {
  border-right: 1px solid #e5e5e5;
}

.header-inside {
  border-bottom: 1px solid #e5e5e5;
}

.related-news-list .related-news-image {
  max-width: 100%;
  min-height: 200;
}